[user]
    name = Eric Duminil
    email = eric.duminil@gmail.com

[alias]
    ci = commit -a
    co = checkout
    st = status
    praise = blame
    lg = log --graph --decorate \n-30 --all --date-order --date=format:'%Y-%m-%d %H:%M:%S' \n--pretty=format:'%C(cyan)%h%Creset %C(black bold)%ad%Creset%C(auto)%d %s'
    nah = "!f(){ git reset --hard; git clean -df; if [ -d ".git/rebase-apply" ] || [ -d ".git/rebase-merge" ]; then git rebase --abort; fi; }; f"

[apply]
    whitespace = strip

[diff]
    color = auto
    rename = copy

[pager]
    color = true

[status]
    color = auto
[core]
    autocrlf = false
    whitespace = cr-at-eol
[push]
    default = simple
[credential]
	helper = store
[mergetool]
	prompt = false
[init]
	defaultBranch = master
